.step-container {
  .step1-sub-details {
    width: 582px;
  }

  .step1-search {
    width: 429px;
    margin: 15px 0 25px;
  }

  .modeltypes {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }
  .modeltypecard {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 0 16px 10px;
    overflow: hidden;

    &.active {
      background-color: #bed2f3;

      .modeltypecard-footer {
        color: #a9bcdb;
      }
    }
  }

  .modeltypecard-footer {
    color: #eaeaea;
    font-size: 22px;
    bottom: -4px;
    position: absolute;
    right: 10px;
  }
}
