.step-container {
  .step1-sub-details {
    width: 582px;
  }

  .step1-search {
    width: 429px;
    margin: 15px 0 25px;
  }

  .modeltypes {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }
  .modeltypecard {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 0 16px;

    &.active {
      background-color: #bed2f3;
    }
  }

  .modeltypecard-footer {
    text-align: right;
    color: #5F6368;
    padding-top: 8px;
    justify-self: flex-end;
    margin-top: auto;
    font-size: 10px;
  }
}
