.global-explain-icon {
  cursor: pointer;
}

.info-p {
  white-space: normal;
  width: 65%;
}

.global-explain--container {
  margin-top: 22px;
}

.explain-tabs {
  display: flex;
  justify-content: flex-start;

  .explain-tab {
    cursor: pointer;
    flex: 1;
    text-align: center;
    background-color: #f7f7f7;
    padding: 22px;

    &:first-child {
      margin-right: 8px;
    }

    &.active {
      color: #4285F4;
      border-bottom: 3px solid #4285F4;
    }
  }
}

.global-explain--charts {
  display: flex;
  gap: 22px;
  justify-content: center;
  flex-wrap: wrap;

  .global-explain--chart {
    flex: 1;
    flex-basis: 30%;
    background-color: #f7f7f7;
    padding: 22px;
  }
}
