.choose-explore {
  color: #7F889B;
  font-size: 20px;
  font-weight: 100;
  margin: 35vh auto;
  text-align: center;

  .choose-explore--text {
    height: 30px;
    margin-top: 10px;
  }

  .choose-explore--icon {
    width: 100%;
  }
}
