.model-blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
}

.summary-factoid {
  padding-top: 6px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  font-weight: 400;
  color: #5F6368;

  .factoid-bold {
    font-weight: 700;
    margin-left: 2px;
  }
}

.summary-generate {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.status-message {
  font-size: 12px;
  padding-top: 4px;
  text-align: right;

  &.warning {
    color: #FFA800
  }
  &.error {
    color: #CC1F36
  }
}

.wizard-card-text {
  margin-top: 20px;
}

.wizard-card-select {
  margin-top: 22px;
}

.advanced-settings-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 22px;
  padding: 12px 32px;
}

.advanced-settings-form-item {
  .select-with-label {
    margin-top: 4px;
    min-width: 300px;
  }
}
