.field-picker-item {
  cursor: pointer;
  width: 90%;
}

[color="segment"] [class^="Truncate"] {
  color: #6C43E0;
}

[color="segment"][aria-selected="true"] [color="segment"] {
  background-color: #e3deec;
}
