.summary-table {
  margin-top: 40px;

  table {
    width: 100%;
    font-size: 13px;
  }

  tr {
    height: 30px;
  }

  th {
    background-color: #E3EDFD;
    font-weight: 500;
    padding: 0 10px;
    text-align: left;

    &.right {
      text-align: right;
    }
  }

  td {
    font-weight: 400;
    padding: 10px 10px 5px 10px;

    .target-icon {
      color: #4285F4;
    }
  }

  td, th {
    &.checkbox {
      width: 40px;

      .feature-checkbox {
        [aria-checked="true"] + [class^="FauxCheckbox"] {
          background: #4285F4;
          border: solid 2px #4285F4;
        }
      }
    }
  }

  td.right {
    text-align: right;
  }

  tbody tr:nth-child(odd) {
    background-color: #F7F7F7;
  }
}
