.mlwizard-page-contents {
  position: relative;
}

.loading-model-splash {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-model-text {
  font-size: 22px;
  font-weight: 500;
  color: #4285F4;
  line-height: 46px;
}
