.minor-error {
  padding: 10px 0 15px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(204, 31, 54)
}

.model-grid {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 22px;
}

.model-grid--sidebar {
  width: 20vw;
}

.model-grid--body {
  width: calc(80vw - 2rem);
  flex: 1;
  display: flex ;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.model-grid-bg {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.roc {
    gap: 2rem
  }
  &.fit-contents {
    width: auto;
    display: inline-block;
    max-width: 100%;
  }
}

.model-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 12px 20px 12px 0;
  background-color: #f7f7f7;
  list-style-type: none;
  margin: 0;
}

.model-sidebar--item {
  display: block;
  font-size: 14px;
  padding-left: 20px;
  border-radius: 0 32px 32px 0;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  color: #5F6368;

  &.active {
    color: #4285F4;
    background-color: #FFFFFF;
  }
}

.model-job-pending, .model-job-canceled {
  display: inline-block;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f7f7f7;
  padding: 32px;
  margin-top: 32px;

  &--contents {
    align-self: center;

    p {
      width: 380px;
    }
  }

  & &--icon {
    width: 100%;
    height: 50px;
  }

  .model-job-pending--icon {
    color: #FFA800;
  }

  .model-job-canceled--icon {
    color: #CC1F36;
  }

  & &--button {
    margin-top: 16px;
    background: transparent;
    color: #4285F4;
    cursor: pointer;
    border: none;

    &:hover, &:active, &:focus {
      background: transparent;
      outline: none;
      border-color: transparent;
      box-shadow: none;
    }
  }
}

.box-container-raised {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
  padding: 1.5rem;
  overflow: scroll;
}

.cm-inner-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.cm-inner-col {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: flex-start;
  gap: 1rem;
}

.cm-header {
  font-weight: 600;
  &.y {
    white-space:nowrap;
    max-width: 1rem;
    display: flex;
    justify-content: center;
  }
  // &.x {
  //   text-align: center;
  // }
}

.model-evaluation {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  &--card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
  }
  &--card-content {
    padding: 1rem;
    min-height: 160px;
  }
  &--heading {
    line-height: 1.25rem;
    font-weight: 500;
    font-size: 18px;
    padding: 0;
    margin: 0;
  }
  &--column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
  }
  &--topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  &:hover {
    background-color: #4285F4;
    cursor: pointer;
    color: white;
  }
  background-color: rgb(245, 246, 247);
}
  &--mainInfo {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
}
&--hover-area {
  &:hover {
    background-color: #4285F4;
    cursor: pointer;
    color: white;
  }
}
&--details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;
  width: 30%;
  border: 1px solid ;
  padding: 0.3rem;
  font-size: 1.2vw;
  border-radius: 0.25rem;
}
 &--card-content {
  color: rgb(76, 83, 91);
  font-size: 10pt;
 }
 &--card-content-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  color: rgb(76, 83, 91);
  font-size: 14pt;
 }

}


.progress {
  flex: 1;
  &--container {
    height: 1.25rem;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  &--bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #4285F4;
    top:0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    color: white;
    font-family: sans-serif;
  }
}

table {
  border-collapse: collapse;
}
.model-cm-item {

  & &--header {
    font-weight: 500;
    &.xlarge {width: 120px; min-width: 120px; }
    &.large {width: 95px; min-width: 95px; }
    &.medium {width: 80px; min-width: 80px; }
    &.small {width: 60px; min-width: 60px; }
  }
  & &--col-header {
    font-weight: 500;
    padding: 0.75rem;
    max-width: 160px;
    text-align: right;
  }

  & &--value {
    background-color: #f7f7f7;
    &.xlarge { height: 120px; width: 120px; min-width: 120px; }
    &.large { height: 95px; width: 95px; min-width: 95px; }
    &.medium { height: 80px; width: 80px; min-width: 80px; }
    &.small { height: 60px; width: 60px; min-width: 60px; }
    &:hover {
      background-color: #808080;
      color: white;
    }
  }

  & &--header, & &--value {
    text-align: center;
    padding: 1rem;
}
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.job-time-running {
  font-size: 12px;
  margin-top: 18px;

  .job-time-running-time {
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 0.06em;
  }
}

.confusion-grid-target {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 2rem;
  font-style: italic;
  
  span {
    font-weight: 400;
    color: #a1a1a1;
    text-transform: none;
    margin-left: 8px;
  }
}

.rotate {
  transform: rotate(-90deg);
}

.binary-classifier-container {
  padding: 12px;
  margin-top: 8px;

  .threshold-container {
    justify-content: flex-start;
  }
}

.ag-header-cell-label .ag-header-cell-text {
  white-space: normal !important;
}



  .ag-theme-material {
    .ag-header-cell {
      background-color: #4285F4;
      color: white;
      font-weight: 600;
      font-size: 14px;
      }

    --ag-header-cell-hover-background-color: #4285F4;
    
    .ag-row {
      &:hover {
        background-color: rgba(66, 133, 244, 0.1);
      }
    }
}
