.wizard-next-step-btn {
  text-align: center;
  color: white;
  transition: 150ms;
  font-weight: 500;
  &.complete {
    animation: bounce .15s 4 alternate;
  }
}

@keyframes bounce {
  to { transform: scale(1.15); }
}
