.TitleBar_container {
  align-items: center;
  background: #4285F4;
  color: white;
  display: flex;
  font-size: 24px;
  height: 48px;
  justify-content: space-between;
  min-height: 50px;
  padding: 0 20px;
  width: 100%;

  .button_container {
    display: flex;
    justify-content: space-between;
  }

  .ToolBar-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    height: 30px;
    padding: 0 1rem;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;

    &:hover {
      background-color: white;
      color: #4285F4;
    }
  }

  .icon {
    color: rgb(153, 148, 153);
    font-size: 2rem;
    margin-left: 10px;
  }
  .icon:hover {
    cursor: pointer;
    color: black;
    transition: 0.8s;
  }

  .title-logo {
    display: flex;
  }
  .title-logo-text {
    color: white;
    padding-left: 10px;
    font-family: "Google Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;

    span {
      opacity: .4;
    }
  }
}
