@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bqml-app {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 100%;
  display: flex;
  position: relative;
  z-index: 0;
  flex-direction: column;
  height: 100%;
  width: 100vw;

  * {
    box-sizing: border-box;
  }

  .bqml-app--header {
    position: fixed;
    width: 100%;
    z-index: 9999;
  }

  .bqml-app--header-placeholder {
    display: block;
    width: 100%;
    height: 0;
  }

  .bqml-app-container {
    padding: 100px 30px;
  }

  h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 44px;
    padding: 0;
    margin: 0;
  }

  p {
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #5F6368;
    line-height: 18px;
    padding: 0;
    margin: 0;
  }

  .tiny-text {
    font-size: 10px;
  }

  .rotate-down {
    transform: rotate(90deg);
    transition: transform 0.25s ease-out;
  }
  .rotate-right {
    transform: rotate(0deg);
    transition: transform 0.25s ease-out;
  }
  .rotate-up {
    transform: rotate(-90deg);
    transition: transform 0.25s ease-out;
  }

  .center {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .action-button {
    height: 28px;
    font-size: 12;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    cursor: pointer;
    background-color: #4285F4;

    &:hover, &:focus {
      background-color: #4285F4;
    }
  }
}

.bqml-app, #modal-root {
  .action-button {
    height: 28px;
    font-size: 12;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    cursor: pointer;
    background-color: #4285F4;

    &:hover, &:focus {
      background-color: #4285F4;
    }
  }
}

.wizard-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F6F6F6;
  padding: 16px;

  &.active {
    background-color: #bed2f3;
  }
}
