@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bqml-app {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 100%;
  display: flex;
  position: relative;
  z-index: 0;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100vw;

  * {
    box-sizing: border-box;
  }

  .bqml-app-container {
    padding: 16px 28px 0 28px;
  }

  .page-contents {
    padding: 28px;
  }
}
